global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend webservers

backend webservers
    balance roundrobin
    # Poor-man's sticky
    # balance source
    #JSP SessionID Sticky
    #appsession JSESSIONID len 52 timeout 3h
    # option httpchk
    option forwardfor
    option http-server-close
        server web1 192.168.100.10:80 maxconn 32 check
        server web2 192.168.100.11:80 maxconn 32 check
    
frontend stats
   bind *:8404
   option http-use-htx
   http-request use-service prometheus-exporter if { path /metrics }
   stats enable
   stats uri /stats
   stats refresh 10s
